*{
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
body {
	display: flex;
	margin: 0;
	padding: 0;
	background-image: linear-gradient(-120deg, #3993c7 0%, #330867 100%);
	flex-direction: column;
	overflow-anchor: 10px;
}



header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
	font-family: 'Arvo', serif;
	position: fixed;
	top: 0;
	width: 100%;
	transition: 1.5s;
	z-index: 2000;

}
header.abajo{
	background-color: rgba(0, 0, 0, 0.85);
}

.head__img{
	width: 9vh;

}
.logo{
	display: flex;
	align-items: center;
	margin-left: 30px;
}
.head__menu{
	width: 100%;
	display: flex;
	margin-right: 20px;
	align-items: center;
	justify-content: space-between;

}
.textlogo{
	color: white;
	margin-left: 16px;
}

.menu__text{
	color: white;
	text-decoration: none;
	padding: 20px;
	transition: 0.5s;
}

.menu__text:hover{
	background-color: white;
	color: black;
}

.fondo{
		background-image: linear-gradient(to right, #30cfd0 0%, #330867 100%);
		padding-bottom: 50px;
}

.section1__img{
	width: 90%;
	max-width: 500px;
	margin-top: 50px;
	filter: drop-shadow(10px 10px 6px rgba(0, 0, 0, 0.5));
	animation: bounce-down 3s linear infinite;

}

.section1__title{
	font-size: 7vh;
	margin-bottom: 0;
	text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.5);
}
.section1__subtitle{
	font-size: 2.4vh;
	margin-top: 6px;
	text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.5);
}
.section1{
	position: relative;
	mar


}

.section1__div{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 60px 20px 20px 20px;
}
.section1__text{
	display: flex;
	flex-direction: column;
	align-items: left;
	font-family: 'Arvo', serif;
	color: white;
	margin: 20px;

}

.section1__p{
	text-align: left;
	text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.5);
}

.section1__wave{
	width: 100%;
	margin-bottom: -5px;

}

.wave{
	filter: drop-shadow(0px -10px 15px rgba(0, 0, 0, 0.7));
}

.conocimientos{
	justify-content: space-evenly;
	margin-top: 20px;
	display: flex;
	margin: 0 auto;
	align-items: center;
	width: 80%;
}
.conocimiento{
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	height: 250px;
	width: 300px;
	border-radius: 20px;
	margin: 30px;
	color: white;

}
.section2{
	background-image: linear-gradient(to bottom, #21A9D1 0%, #330867 100%);
	position: relative;
	padding-bottom: 0px;
	padding-top: 30px;
	font-family: 'Arvo', serif;
}
.section2__title{
	margin: 0;
	margin-bottom: 40px;
	text-align: center;
	color: white;
	font-family: 'Arvo', serif;
	font-size: 35px;
	text-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
	padding: 20px;
	border-radius: 2px;

}

.conocimiento__img{
	width: 140px;
	margin: 0 auto;
	filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.7));
	transition: 0.5s;

}


.conocimiento__img:hover{
	width: 150px;
    animation: bounce-down 1.6s linear infinite;
}
footer{
	text-align: center;
	background-image: linear-gradient(to bottom, #F3F4F5 0%, #35343b 200%);
	font-family: 'Arvo', serif;
	color: black;
	margin: 0;
	padding: 20px;
	margin-top: -5px;
	z-index: 300;
}

.footer__text{
	margin: 0;
	font-weight: 700;
	font-size: 2vh;

}
.footer__link{
		text-decoration: none;
		font-weight: 700;
		color: black;
		font-size: 2vh;
}
.btn__menu{
	display: none;
	cursor: pointer;
	border:none;
	margin-top: 10px;
	padding: 0;
	background-color: transparent;
	transition: 0.2s 0.2s;
}


@-webkit-keyframes bounce-down {
       25% {
            -webkit-transform: translateY(-4px);
       }
       50%, 100% {
            -webkit-transform: translateY(0);
       }
       75% {
            -webkit-transform: translateY(4px);
       }
}
 
@keyframes bounce-down {
        25% {
             transform: translateY(-6px);
        }
        50%, 100% {
             transform: translateY(0);
        }
        75% {
             transform: translateY(6px);
        }
}


.btn__menu:hover{
	transform: rotate(360deg);
}
.btn__menu span{
	display: block;
	background-color: #f3f3f3;
	height: 3px;
	width: 28px;
	margin: 10px auto;
}
.enlaces{
	display: flex;
}

@keyframes muestraMenu{
	from{opacity:0;}
	to{opacity: 1;}

}

@keyframes textoFlotando{
	from{top: 10px}
	to{top: -10px;}
}


body::-webkit-scrollbar {
    -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
    width:7px;
}

body::-webkit-scrollbar-button:increment,body::-webkit-scrollbar-button {
    display: none;
} 


body::-webkit-scrollbar-thumb {
    background-color: #cfcfcf;
    border-radius: 20px;
}

body::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #364c89; 
}

.formulario{
	display: flex;
	flex-direction: column;
	margin-left: 80px;
}

.br-1.animado{
	transform: rotate(-45deg) translate(-10px, 8px);
}

.br-2.animado{
	opacity: 0;
}
.br-3.animado{
	transform: rotate(45deg) translate(-10px, -8px);
}

.btn__section1{
	text-decoration: none;
	border-radius: 50px;
	background-color: greenyellow;
	color: black;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.50);
	padding: 10px;
	width: 200px;
	text-align: center;
	font-family: 'Arvo', serif;
	font-weight: 700;
	margin-top: 10px;
}
.section3{
	background-image: linear-gradient(to bottom, #21A9D1 0%, #330867 100%);
	font-family: 'Arvo', serif;
	display: flex;
	align-items: center;
	flex-direction: column;
	color: white;
	margin-top: -10px;
	z-index: 200;
}

.div_formulario{
	display: flex;
 	justify-content: center;
 	font-size: 3vh;
}




.input_txt{
	width: 300px;
	margin: 20px 20px 20px 20px;
	border: none;
	border-radius: 50px;
	height: 50px;
	text-align: center;
	box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.4);

}
.input_txt::-webkit-input-placeholder {
  text-align: center;

  line-height: 100px;
}

.input_txt.texto{
	height: 120px;
	border-radius: 20px;
}

.section3__p{
	width: 30%;
}
.section3__botones{
	display: flex;
	align-items: center;
	justify-content: center;
}
.section3__btn{
	margin:20px 20px 10px 20px;
	padding: 20px 30px 20px 30px;
	border: none;
	border-radius: 20px;
	font-family: 'Arvo';
	font-weight: 700;
	box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.4);
	font-size: 15px;
}

.section3__btn.wsp{
	background-color: greenyellow;
	color: black;
	text-decoration: none;

}

.section3__wave{
	height: 60px;
	width: 100%;
	background-image: url("img/wave3.svg");
	margin-top: 100px;
}

.section2__p {
	font-size: 4vh;
	font-family: 'Arvo';

}
.div_section2{
	margin-top: 60px;
}
.div_section3{
	margin-top: 60px;
	text-align: center;
	align-items: center;
}

.fadeTop {
  opacity: 0; 
  transform: translate(0, 10vh);
  transition: all 1s;
}

.fadeRight {
  opacity: 0;
  transform: translate(10vh, 0vh);
  transition: all 1s;
}
.visible {
  opacity: 1;
  transform: translate(0, 0);
}

.fadeLeft {
  opacity: 0;
  transform: translate(-10vh, 0vh);
  transition: all 1s;
}


@media (max-width:800px){
	.menu__text{
		width: 100%;
		text-align: center;
		padding: 20px 0 20px 0;
		font-size: 20px;
	}
	header{
		flex-direction: column;
		align-items: flex-start;
	}
	.head__menu{
		flex-direction: column;
		align-items: flex-start;
		margin-right: 0;
	}
	.head__menu{
	}
	.logo{
		margin: 0 auto;
	}
	.section1__div{
	flex-direction: column;
}
 	.section1__title{
 		text-align: center;
 	}
 	.section1__p{
	text-align: center;

	}
	.fondo{
	height: 110vh;
	}
	.section1__subtitle{
	text-align: center;
	}
	.conocimientos{
		flex-direction: column ;
	}
	.btn__menu{
		display: block;
		position: absolute;
		right: 15px;
	}
	.enlaces{
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		height: 60vh;
		background-color: #303030;
		width: 100%;
		opacity: 0;
		display: none;
	}
	.enlaces.desactivado{
		display: none;
	}
	.enlaces.activado{
		display: flex;
		animation:muestraMenu 500ms ease-in-out both;
	}
	.btn__section1{
		margin: 0 auto;
	}
	.formulario{
		margin-left: 0;
	} 
	.div_formulario{
		flex-direction: column;
		align-items: center;
	}
	.section2__p{
		font-size: 3vh;
	}
	.section3__p{
		width: 80%;
		text-align: center;
	}


}
|
